{% extends "base.html" %}

{% block content %}

<div class="container-fluid py-4">
    <h2 class="mb-4">Stats Dashboard</h2>

    <!-- Summary -->
    <div class="row mb-4">

        <div class="col-md-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h6>Total Rounds</h6>
                    <h3>{{ rounds|length }}</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Courses Played -->
     <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5>Courses Played</h5>

            <ul class="list-group">
                {% for round in rounds %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>{{ round.course.name }}</span>
                    <span>
                        Score: {{ round.score_vs_par }} ({{ round.date }})
                    </span>
                </li>
                {% empty %}
                <li class="list-group-item">No rounds played yet</li>
                {% endfor %}
            </ul>
        </div>
     </div>

    <div class="row">

        <!-- Full rounds -->
        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5>Full Rounds</h5>

                    {% if best_full %}
                        <p><strong>Best:</strong> {{ best_full.score_vs_par }}</p>
                        <p><strong>Worst:</strong> {{ worst_full.score_vs_par }}</p>
                        <p><strong>Average:</strong> {{ avg_full|floatformat:1 }}</p>
                    {% else %}
                        <p>No full rounds yet</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- 9 hole rounds -->
        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5>9 Hole Rounds</h5>

                    {% if best_nine %}
                        <p><strong>Best:</strong> {{ best_nine.score_vs_par }}</p>
                        <p><strong>Worst:</strong> {{ worst_nine.score_vs_par }}</p>
                        <p><strong>Average:</strong> {{ avg_nine|floatformat:1 }}</p>
                    {% else %}
                        <p>No 9 hole rounds yet</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
    {% endblock %}