{% extends "base.html" %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="d-flex justify-content-between align-items-center mb-4">

            <div>

                <h1 class="mb-0">
                    Start New Round
                </h1>

                <span>
                    Select a course and begin tracking your round
                </span>

            </div>

                <a href="{% url 'home' %}" class="btn btn-outline-secondary">
                    Home
                </a>

        </div>

        <div class="col-12 col-md-8 col-lg-5 mt-5">

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Start New Round</h2>

                    <form method="POST">
                        {% csrf_token %}

                        <!-- Bootstrap form -->
                        <div class="mb-3 text-center">
                            <label class="form-label">Select Course</label>
                            {{ form.course }}
                        </div>

                        <div class="mb-3 text-center">
                            <label class="form-label">Holes Played</label>
                            {{ form.holes_played }}
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary">
                                Start Round
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}