@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --background-color: #fdd299;
    --primary-color: #1b5e20;
    --secondary-color: #4caf50;
    --card-color: #ffffff;
    --text-color: #212529;
    --good-score: #388e3c;
    --bad-score: #ff0000;
    --neutral-score: #63676b;

}

/* Global styles */
body {
    font-family: var(--secondary-font);
    color: var(--text-color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .nav-link {
    color: rgba(255,255,255,0.5);
}

.navbar .nav-link:hover {
    color: white;
}

/* Cards */
.card {
    background-color: var(--card-color);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.card .card-body {
    padding: 1.5rem;
}

/* Tables */

/* Buttons */
.btn.btn-primary {
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    font-weight: 500;
}

.btn.btn-primary:hover {
    background-color: var(--secondary-color)
}

/* Scores */
.score-good {
    color: var(--good-score);
    font-weight: 600;
}

.score-bad {
    color: var(--bad-score);
    font-weight: 600;
}

.score-neutral {
    color: var(--neutral-score)
}