@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

/* Global styles */
body {
    font-family: var(--secondary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}
/* Body */
