{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid py-4">
<!-- Header -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
        <div>
            <h2>{{ course.name }}</h2>
            <span>Course Scorecard</span>
        </div>

        {% if course.image %}
        <div class="my-3 my-md-0">
            <img 
                src="{% static course.image %}" 
                alt="{{ course.name }}"
                class="course-detail-logo"
            >
        </div>
        {% endif %}

        <div class="d-flex gap-2 mt-3 mt-md-0">

            <a href="{% url 'course_list' %}" class="btn btn-outline-secondary">
                Back
            </a>

            <a href="{% url 'start_round' %}" class="btn btn-primary">
                Start Round
            </a>

        </div>
    </div>

    <!-- Scorecard -->
    <div class="card mt-5">
        <div class="card-body p-md-5">

            <div class="table-responsive">

                <table class="table scorecard-table table-bordered text-center align-middle">

                    <thead>
                        <tr>
                            <th>Hole</th>
                            {% for hole in holes %}
                                <th>{{ hole.number }}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>Par</th>
                            {% for hole in holes %}
                                <td class="
                                    {% if hole.par == 3 %}
                                        par-3
                                    {% elif hole.par == 4 %}
                                        par-4
                                    {% elif hole.par == 5 %}
                                        par-5
                                    {% endif %}
                                ">
                                    {{ hole.par }}
                                </td>
                            {% endfor %}
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>
    </div>

</div>


{% endblock %}