{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="mb-4">Courses</h1>

<div class="row">
    {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card course-card h-100">
                {% if course.image %}
                    <img src="{% static course.image %}" class="course-img" alt="{{ course.name }}">
                {% endif %}
                <div class="card-body text-center">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <a href="{% url 'course_detail' course.slug %}" class="btn btn-primary">
                            View Course
                        </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}