{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Courses</h2>

    <a href="{% url 'home' %}" class="btn btn-outline-secondary">
        Home
    </a>
</div>

<div class="row">
    {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card course-card h-100">
                {% if course.image %}
                    <img src="{% static course.image %}" class="course-img" alt="{{ course.name }} logo">
                {% endif %}
                <div class="card-body text-center">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <a href="{% url 'course_detail' course.slug %}" class="btn btn-primary">
                            View Course
                        </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}