<!DOCTYPE html>
<html>
<head>
    <title>Golf Tracker</title>
</head>
<body>

    <nav>

    {% url 'home' as home_url %}
    {% url 'start_round' as start_url %}
    {% url 'course_list' as courses_url %}
    {% url 'round_history' as rounds_url %}
    {% url 'stats_dashboard' as stats_url %}
    {% url 'profile' as profile_url %}

    {% url 'account_login' as login_url %}
    {% url 'account_signup' as signup_url %}
    {% url 'account_logout' as logout_url %}

    <a class="{% if request.path == home_url %}active{% endif %}" href="{% url 'home' %}">
        Home
    </a>

    <a class="{% if request.path == start_url %}active{% endif %}" href="{% url 'start_round' %}">
        Start Round
    </a>

    <a class="{% if request.path == courses_url %}active{% endif %}" href="{% url 'course_list' %}">
        Courses
    </a>

    <a class="{% if request.path == rounds_url %}active{% endif %}" href="{% url 'round_history' %}">
        Rounds
    </a>

    <a class="{% if request.path == stats_url %}active{% endif %}" href="{% url 'stats_dashboard' %}">
        Stats
    </a>

    {% if user.is_authenticated %}

        <a class="{% if request.path == profile_url %}active{% endif %}" href="{% url 'profile' %}">
            Profile
        </a>

        <a class="{% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}">
            Logout
        </a>

    {% else %}

        <a class="{% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}">
            Login
        </a>

        <a class="{% if request.path == signup_url %}active{% endif %}" href="{% url 'account_signup' %}">
            Sign Up
        </a>

    {% endif %}

</nav>


    <ul>
        {% for course in courses %}
            <li>
                <a href="{% url 'course_detail' course.slug %}">
                    {{ course.name}}
                </a>
            </li>
        {% endfor %}
    </ul>
    
    {% block content %}
    {% endblock %}

</body>
</html>